/*
Theme Name: OceanWP Child
Theme URI: https://oceanwp.org/
Description: OceanWP WordPress theme example child theme.
Author: Nick
Author URI: https://oceanwp.org/
Template: oceanwp
Version: 1.0
*/

/* Parent stylesheet should be loaded from functions.php not using @import */

#site-header.top-header .header-top {
	display: flex!important;
    justify-content: center!important;
}

.elementskit-post-image-card {
	height: fit-content;
	min-height: 400px;
	max-height:600px;
}

 div > div.elementskit-post-body > div.btn-wraper {
	position: absolute;
	bottom: 0;
	right: 40px;
}
.wrapper {
	min-height: 1000px;
}
.wrapper h1 {
	margin:50px 0;
}

.linksidebar{
	position: sticky!important;
	top: 45px!important;
}
.ekit-wid-con .elementskit-post-image-card .elementskit-post-body {
    padding: 50px;
}
#main #content-wrap {
padding-bottom: 0!important;
}
#menu-footer-menu{
	list-style: none;
	text-align: center;
	
}

#menu-footer-menu  li a { 
	color: #fff!important;
}
#footer_box { 
	    position: absolute;
	    width: 100%;
	    bottom: 0;
	    
}
.icon.icon-loupe {
	color: #fff!important;
}
.search_div {
	width: 80%!important;
	display: block;
	margin: 0 auto;
}